<!-- start page title -->
<app-pagetitle
  title="Employee"
  [breadcrumbItems]="breadCrumbItems"
></app-pagetitle>
<!-- end page title -->

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Employee Validation - Form</h4>
        <p class="card-title-desc">
          Provide valuable, actionable feedback to your users with HTML5 form
          validation–available in all our supported browsers.
          <a
            routerLink="/employee-list"
            style="font-size: 14px; font-weight: bold; float: right"
            >Employee List</a
          >
        </p>
      </div>
      <div class="card-body">
        <form class="needs-validation" [formGroup]="employeeForm">
          <h4 class="card-title" style="color: #5156be">Personal Details</h4>
          <hr />
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="validationCustom01">First name</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom01"
                  formControlName="firstName"
                  placeholder="First name"
                  [ngClass]="{ 'is-invalid': submit && form.firstName.errors }"
                />
                <div
                  *ngIf="submit && form.firstName?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.firstName.errors?.required"
                    >Please provide a first name.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="validationCustom02">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom02"
                  formControlName="lastName"
                  placeholder="Last name"
                  [ngClass]="{ 'is-invalid': submit && form.lastName.errors }"
                />
                <div
                  *ngIf="submit && form.lastName?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.lastName.errors?.required"
                    >Please provide a last name.</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="mb-3">
                <label for="validationCustom03">Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom03"
                  formControlName="address"
                  placeholder="Address"
                  [ngClass]="{ 'is-invalid': submit && form.address.errors }"
                />
                <div
                  *ngIf="submit && form.address?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.address.errors?.required"
                    >Please provide a valid address.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="validationCustom03">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom03"
                  formControlName="city"
                  placeholder="City"
                  [ngClass]="{ 'is-invalid': submit && form.city.errors }"
                />
                <div
                  *ngIf="submit && form.city?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.city.errors?.required"
                    >Please provide a valid city.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="validationCustom04">State</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom04"
                  formControlName="state"
                  placeholder="State"
                  [ngClass]="{ 'is-invalid': submit && form.state.errors }"
                />
                <div
                  *ngIf="submit && form.state?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.state.errors?.required"
                    >Please provide a valid state.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="validationCustom05">Zip</label>
                <input
                  type="number"
                  class="form-control"
                  id="validationCustom05"
                  formControlName="zip"
                  placeholder="Zip"
                  [ngClass]="{ 'is-invalid': submit && form.zip.errors }"
                />
                <div
                  *ngIf="submit && form.zip?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.zip.errors?.required"
                    >Please provide a valid zip.</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom03">Date of Birth</label>
                <input
                  type="date"
                  class="form-control"
                  id="validationCustom03"
                  formControlName="dateOfBirth"
                  placeholder="Date of Birth"
                  [ngClass]="{
                    'is-invalid': submit && form.dateOfBirth.errors
                  }"
                />
                <div
                  *ngIf="submit && form.dateOfBirth.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.dateOfBirth.errors?.required"
                    >Please provide a valid date of birth.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label class="form-label">Gender</label>
                <select class="form-select" formControlName="gender">
                  <option>Select</option>
                  <option>Male</option>
                  <option>Female</option>
                </select>
                <div
                  *ngIf="submit && form.gender.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.gender.errors?.required"
                    >Please provide a gender.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom04">Releationship with Emp.</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom04"
                  formControlName="relationshipWithEmp"
                  placeholder="Releationship with emp"
                  [ngClass]="{
                    'is-invalid': submit && form.relationshipWithEmp.errors
                  }"
                />
                <div
                  *ngIf="submit && form.relationshipWithEmp?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.relationshipWithEmp.errors?.required"
                    >Please provide a valid relationship with emp.</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom03">Mobile Number</label>
                <input
                  type="tel"
                  class="form-control"
                  id="validationCustom03"
                  formControlName="mobilenumber"
                  placeholder="Mobile Number"
                  [ngClass]="{
                    'is-invalid': submit && form.mobilenumber.errors
                  }"
                />
                <div
                  *ngIf="submit && form.mobilenumber.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.mobilenumber.errors?.required"
                    >Please provide a valid mobile number.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom05">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="validationCustom05"
                  formControlName="email"
                  placeholder="Email"
                  [ngClass]="{ 'is-invalid': submit && form.email.errors }"
                />
                <div
                  *ngIf="submit && form.email.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.email.errors?.required"
                    >Please provide a valid email id.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom04">Emergency Contact Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom04"
                  formControlName="emergencyContactNumber"
                  placeholder="Emergency contact number"
                  [ngClass]="{
                    'is-invalid': submit && form.emergencyContactNumber.errors
                  }"
                />
                <div
                  *ngIf="submit && form.emergencyContactNumber?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.emergencyContactNumber.errors?.required"
                    >Please provide a valid emergency conatct number.</span
                  >
                </div>
              </div>
            </div>
          </div>
          <h4 class="card-title" style="color: #5156be">Bank Details</h4>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom03">Bank Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom03"
                  formControlName="bankName"
                  placeholder="Bank Name"
                  [ngClass]="{ 'is-invalid': submit && form.bankName.errors }"
                />
                <div
                  *ngIf="submit && form.bankName?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.bankName.errors?.required"
                    >Please provide a valid bank name.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom03">Account Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom03"
                  formControlName="accountNumber"
                  placeholder="Account Number"
                  [ngClass]="{
                    'is-invalid': submit && form.accountNumber.errors
                  }"
                />
                <div
                  *ngIf="submit && form.accountNumber?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.accountNumber.errors?.required"
                    >Please provide a valid account number.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom04">IFSC Code</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom04"
                  formControlName="ifscCode"
                  placeholder="IFSC Code"
                  [ngClass]="{ 'is-invalid': submit && form.ifscCode.errors }"
                />
                <div
                  *ngIf="submit && form.ifscCode?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.ifscCode.errors?.required"
                    >Please provide a valid ifsc code.</span
                  >
                </div>
              </div>
            </div>
          </div>
          <h4 class="card-title" style="color: #5156be">
            Employeement Details
          </h4>
          <hr />
          <div class="row">
            <div class="col-md-3">
              <div class="mb-3">
                <label for="validationCustom03">Status</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom03"
                  formControlName="status"
                  placeholder="Status"
                  [ngClass]="{ 'is-invalid': submit && form.status.errors }"
                />
                <div
                  *ngIf="submit && form.status?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.status.errors?.required"
                    >Please provide a valid status.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="validationCustom03">Joining Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="validationCustom03"
                  formControlName="joiningDate"
                  placeholder="Joining Date"
                  [ngClass]="{
                    'is-invalid': submit && form.joiningDate.errors
                  }"
                />
                <div
                  *ngIf="submit && form.joiningDate?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.joiningDate.errors?.required"
                    >Please provide a valid joining date.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="validationCustom04">Last Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="validationCustom04"
                  formControlName="lastDate"
                  placeholder="Last Date"
                  [ngClass]="{ 'is-invalid': submit && form.lastDate.errors }"
                />
                <div
                  *ngIf="submit && form.lastDate?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.lastDate.errors?.required"
                    >Please provide a valid last date.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="validationCustom04">Role</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom04"
                  formControlName="role"
                  placeholder="Role"
                  [ngClass]="{ 'is-invalid': submit && form.role.errors }"
                />
                <div
                  *ngIf="submit && form.role?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.role.errors?.required"
                    >Please provide a valid role.</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom03">Responsibility</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom03"
                  formControlName="responsibility"
                  placeholder="Responsibility"
                  [ngClass]="{
                    'is-invalid': submit && form.responsibility.errors
                  }"
                />
                <div
                  *ngIf="submit && form.responsibility?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.responsibility.errors?.required"
                    >Please provide a valid responsibility.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom03">Leave Total</label>
                <input
                  type="number"
                  class="form-control"
                  id="validationCustom03"
                  formControlName="leaveTotal"
                  placeholder="Leave Total"
                  [ngClass]="{
                    'is-invalid': submit && form.leaveTotal.errors
                  }"
                />
                <div
                  *ngIf="submit && form.leaveTotal?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.joiningDate.errors?.required"
                    >Please provide a valid leave total.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom04">Remaining Leaves Date</label>
                <input
                  type="number"
                  class="form-control"
                  id="validationCustom04"
                  formControlName="remainingLeaves"
                  placeholder="Remaining Leaves"
                  [ngClass]="{
                    'is-invalid': submit && form.remainingLeaves.errors
                  }"
                />
                <div
                  *ngIf="submit && form.remainingLeaves?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.remainingLeaves.errors?.required"
                    >Please provide a valid remaining leaves.</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div>
            <button
              class="btn btn-primary"
              type="submit"
              (click)="onSubmit()"
              [disabled]="!employeeForm.valid"
            >
              Submit form
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>
<!-- end row -->

<ngx-spinner
  type="ball-clip-rotate"
  [fullScreen]="true"
  size="medium"
  color="#ffffff"
></ngx-spinner>
