<!-- start page title -->
<app-pagetitle
  title="Updates"
  [breadcrumbItems]="breadCrumbItems"
></app-pagetitle>
<!-- end page title -->

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Updates Validation - Form</h4>
        <p class="card-title-desc">
          Provide valuable, actionable feedback to your users with HTML5 form
          validation–available in all our supported browsers.
        </p>
      </div>
      <div class="card-body">
        <form class="needs-validation" [formGroup]="searchForm">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="validationCustom01">Mobile Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom01"
                  formControlName="mobileNumber"
                  placeholder="Mobile Number"
                  [ngClass]="{
                    'is-valid': submit && form.mobileNumber?.errors
                  }"
                />
                <div
                  *ngIf="submit && form.mobileNumber.errors"
                  class="valid-feedback"
                ></div>
              </div>
            </div>
          </div>
          <div>
            <button
              class="btn btn-primary"
              type="submit"
              (click)="onSubmitSearch(searchForm.value)"
            >
              Search
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>
<!-- end row -->

<div class="row" *ngIf="showUpdateForm">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Data Validation - Form</h4>
        <p class="card-title-desc">
          Provide valuable, actionable feedback to your users with HTML5 form
          validation–available in all our supported browsers.
        </p>
      </div>
      <div class="card-body">
        <form
          class="needs-validation"
          (ngSubmit)="onSubmitUpdate()"
          [formGroup]="updatesForm"
        >
          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom01">Firm Activity</label>
                <ng-select
                  [items]="firmActivitys"
                  bindLabel="name"
                  formControlName="firmActivity"
                >
                  <ng-template ng-optgroup-tmp let-item="item">
                    {{ item || "Unnamed group" }}
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom02">Company name</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom02"
                  formControlName="companyName"
                  placeholder="Enter company name"
                  [ngClass]="{ 'is-valid': submit && form.companyName.errors }"
                />
                <div
                  *ngIf="submit && form.companyName?.errors"
                  class="valid-feedback"
                ></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom03">Owner Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom03"
                  formControlName="ownerName"
                  placeholder="Enter owner name"
                  [ngClass]="{ 'is-invalid': submit && form.ownerName.errors }"
                />
                <div
                  *ngIf="submit && form.ownerName?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.ownerName.errors?.required"
                    >Please provide a valid owner name.</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom04">Location</label>
                <ng-select
                  [items]="locations"
                  bindLabel="name"
                  formControlName="location"
                >
                  <ng-template ng-optgroup-tmp let-item="item">
                    {{ item || "Unnamed group" }}
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom05"
                  >Service Provided Location</label
                >
                <ng-select
                  [items]="serviceProvidedLocations"
                  [multiple]="true"
                  bindLabel="name"
                  formControlName="serviceProvidedLocation"
                >
                  <ng-template ng-optgroup-tmp let-item="item">
                    {{ item || "Unnamed group" }}
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom03">Vehicle Type</label>
                <ng-select
                  [items]="vehicleTypes"
                  [multiple]="true"
                  bindLabel="name"
                  formControlName="vehicleType"
                >
                  <ng-template ng-optgroup-tmp let-item="item">
                    {{ item || "Unnamed group" }}
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom05">Vehicle Nos</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom05"
                  formControlName="vehicleNos"
                  placeholder="Vehicle Nos"
                  [ngClass]="{ 'is-invalid': submit && form.vehicleNos.errors }"
                />
                <div
                  *ngIf="submit && form.vehicleNos.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.vehicleNos.errors?.required"
                    >Please provide a valid vehicle nos.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom04">Language</label>
                <ng-select
                  [items]="languages"
                  bindLabel="id"
                  formControlName="language"
                >
                  <ng-template ng-optgroup-tmp let-item="item">
                    {{ item.id || "Unnamed group" }}
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom03">Mobile Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom03"
                  formControlName="mobileNumber"
                  placeholder="Mobile Number"
                  [ngClass]="{
                    'is-invalid': submit && form.mobileNumber.errors
                  }"
                />
                <div
                  *ngIf="submit && form.mobileNumber.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.mobileNumber.errors?.required"
                    >Please provide a valid mobile number.</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom05">Alternate Mobile Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom05"
                  formControlName="alternateMobileNumber"
                  placeholder="Alternate Mobile Number"
                  [ngClass]="{
                    'is-invalid': submit && form.alternateMobileNumber.errors
                  }"
                />
                <div
                  *ngIf="submit && form.alternateMobileNumber.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.alternateMobileNumber.errors?.required"
                    >Please provide a valid alternate mobile number.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom04">Adhaar Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom04"
                  formControlName="aadharNumber"
                  placeholder="Adhaar Number"
                  [ngClass]="{
                    'is-invalid': submit && form.aadharNumber.errors
                  }"
                />
                <div
                  *ngIf="submit && form.aadharNumber?.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.aadharNumber.errors?.required"
                    >Please provide a valid adhaar number.</span
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom03">Driving License Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom03"
                  formControlName="drivingLicenseNumber"
                  placeholder="Driving License Number"
                  [ngClass]="{
                    'is-invalid': submit && form.drivingLicenseNumber.errors
                  }"
                />
                <div
                  *ngIf="submit && form.drivingLicenseNumber.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.drivingLicenseNumber.errors?.required"
                    >Please provide a valid driving license number.</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom04">Payment Status</label>
                <ng-select
                  [items]="paymentStatusArr"
                  bindLabel="id"
                  formControlName="paymentStatus"
                >
                  <ng-template ng-optgroup-tmp let-item="item">
                    {{ item || "Unnamed group" }}
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom03">Account Status</label>
                <ng-select
                  [items]="accountStatusArr"
                  bindLabel="name"
                  formControlName="accountStatus"
                >
                  <ng-template ng-optgroup-tmp let-item="item">
                    {{ item || "Unnamed group" }}
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="validationCustom05">Reference Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom05"
                  formControlName="referenceName"
                  placeholder="Reference Name"
                  [ngClass]="{
                    'is-invalid': submit && form.referenceName.errors
                  }"
                />
                <div
                  *ngIf="submit && form.referenceName.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.referenceName.errors?.required"
                    >Please provide a valid reference name.</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div>
            <button
              class="btn btn-primary"
              type="submit"
              (click)="onSubmitUpdate()"
            >
              Update form
            </button>
            <button
              type="button"
              class="btn btn-danger waves-effect waves-light"
              style="float: right"
              (click)="deleteData()"
            >
              <i class="bx bx-block font-size-16 align-middle me-2"></i> Delete
            </button>
          </div>
        </form>
        <div *ngIf="valueUpdated">
          <div *ngFor="let color of alertData">
            <ngb-alert
              type="{{ color.color }}"
              (close)="close(color, alertData)"
              class="custom-alert"
            >
              A simple {{ color.color }} alert—check it out!
            </ngb-alert>
          </div>
        </div>
      </div>
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>
