<!-- start page title -->
<app-pagetitle
  title="Dashboard"
  [breadcrumbItems]="breadCrumbItems"
></app-pagetitle>
<!-- end page title -->

<div class="row">
  <div class="col-xl-3 col-md-6">
    <!-- card -->
    <div class="card card-h-100">
      <!-- card body -->
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-12">
            <span class="text-muted mb-2 d-block text-truncate"
              >Registered User(s)</span
            >
            <h4 class="mb-3">
              <span class="counter-value">{{ totalRegisteredUsers }}</span>
            </h4>
          </div>
        </div>
        <div class="text-nowrap">
          <span class="badge bg-soft-success text-success">{{
            totalRegisteredUsers
          }}</span>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->

  <div class="col-xl-3 col-md-6">
    <!-- card -->
    <div class="card card-h-100">
      <!-- card body -->
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-12">
            <span class="text-muted mb-2 d-block text-truncate"
              >Supplier(s)</span
            >
            <h4 class="mb-3">
              <span class="counter-value">{{ totalSupplier }}</span>
            </h4>
          </div>
        </div>
        <div class="text-nowrap">
          <span class="badge bg-soft-success text-success">{{
            totalSupplier
          }}</span>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col-->

  <div class="col-xl-3 col-md-6">
    <!-- card -->
    <div class="card card-h-100">
      <!-- card body -->
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-12">
            <span class="text-muted mb-2 d-block text-truncate"
              >Booking(s)</span
            >
            <h4 class="mb-3">
              <span class="counter-value">{{ totalBooking }}</span>
            </h4>
          </div>
        </div>
        <div class="text-nowrap">
          <span class="badge bg-soft-success text-success">{{
            totalDriverOwner
          }}</span>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->

  <div class="col-xl-3 col-md-6">
    <!-- card -->
    <div class="card card-h-100">
      <!-- card body -->
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-12">
            <span class="text-muted mb-2 d-block text-truncate">Driver(s)</span>
            <h4 class="mb-3">
              <span class="counter-value">{{ totalDriver }}</span>
            </h4>
          </div>
        </div>
        <div class="text-nowrap">
          <span class="badge bg-soft-success text-success">{{
            totalDriver
          }}</span>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>
<!-- end row-->

<div class="row">
  <div class="col-xl-3 col-md-6">
    <!-- card -->
    <div class="card card-h-100">
      <!-- card body -->
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-12">
            <span class="text-muted mb-2 d-block text-truncate">Owners(s)</span>
            <h4 class="mb-3">
              <span class="counter-value">{{ totalOwner }}</span>
            </h4>
          </div>
        </div>
        <div class="text-nowrap">
          <span class="badge bg-soft-success text-success">{{
            totalOwner
          }}</span>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->

  <div class="col-xl-3 col-md-6">
    <!-- card -->
    <div class="card card-h-100">
      <!-- card body -->
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-12">
            <span class="text-muted mb-2 d-block text-truncate"
              >Frieght Forwarder(s)</span
            >
            <h4 class="mb-3">
              <span class="counter-value">{{ totalFreightForwarders }}</span>
            </h4>
          </div>
        </div>
        <div class="text-nowrap">
          <span class="badge bg-soft-success text-success">{{
            totalFreightForwarders
          }}</span>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col-->

  <div class="col-xl-3 col-md-6">
    <!-- card -->
    <div class="card card-h-100">
      <!-- card body -->
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-12">
            <span class="text-muted mb-2 d-block text-truncate"
              >Active User(s)</span
            >
            <h4 class="mb-3">
              <span class="counter-value">{{ totalActiveUsers }}</span>
            </h4>
          </div>
        </div>
        <div class="text-nowrap">
          <span class="badge bg-soft-success text-success">{{
            totalActiveUsers
          }}</span>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->

  <div class="col-xl-3 col-md-6">
    <!-- card -->
    <div class="card card-h-100">
      <!-- card body -->
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-12">
            <span class="text-muted mb-2 d-block text-truncate"
              >InActive User(s)</span
            >
            <h4 class="mb-3">
              <span class="counter-value">{{ totalInactiveUsers }}</span>
            </h4>
          </div>
        </div>
        <div class="text-nowrap">
          <span class="badge bg-soft-danger text-danger">{{
            totalInactiveUsers
          }}</span>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>
<!-- end row-->

<div class="row">
  <div class="col-xl-3 col-md-6">
    <!-- card -->
    <div class="card card-h-100">
      <!-- card body -->
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-12">
            <span class="text-muted mb-2 d-block text-truncate"
              >999 User(s)</span
            >
            <h4 class="mb-3">
              <span class="counter-value">{{ totalPaidUsers999 }}</span>
            </h4>
          </div>
        </div>
        <div class="text-nowrap">
          <span class="badge bg-soft-success text-success">{{
            totalPaidUsers999
          }}</span>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->

  <div class="col-xl-3 col-md-6">
    <!-- card -->
    <div class="card card-h-100">
      <!-- card body -->
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-12">
            <span class="text-muted mb-2 d-block text-truncate"
              >99 Users(s)</span
            >
            <h4 class="mb-3">
              <span class="counter-value">{{ totalPaidUsers99 }}</span>
            </h4>
          </div>
        </div>
        <div class="text-nowrap">
          <span class="badge bg-soft-success text-success">{{
            totalPaidUsers99
          }}</span>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col-->

  <div class="col-xl-3 col-md-6">
    <!-- card -->
    <div class="card card-h-100">
      <!-- card body -->
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-12">
            <span class="text-muted mb-2 d-block text-truncate"
              >Paid User(s)</span
            >
            <h4 class="mb-3">
              <span class="counter-value">{{ totalPaidUsers }}</span>
            </h4>
          </div>
        </div>
        <div class="text-nowrap">
          <span class="badge bg-soft-success text-success">{{
            totalPaidUsers
          }}</span>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->

  <div class="col-xl-3 col-md-6">
    <!-- card -->
    <div class="card card-h-100">
      <!-- card body -->
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-12">
            <span class="text-muted mb-2 d-block text-truncate"
              >Not Paid User(s)</span
            >
            <h4 class="mb-3">
              <span class="counter-value">{{ totalNotPaidUsers }}</span>
            </h4>
          </div>
        </div>
        <div class="text-nowrap">
          <span class="badge bg-soft-danger text-danger">{{
            totalNotPaidUsers
          }}</span>
        </div>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>
<!-- end row-->

<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <div class="float-left">
          <h4 class="card-title mb-0">Location</h4>
          <span class="badge bg-soft-success text-success"
            >Total User(s) -
            {{
              totalUserCountCitywise === 0
                ? totalRegisteredUsers
                : totalUserCountCitywise
            }}</span
          >
        </div>
        <div class="location-width">
          <form class="needs-validation" [formGroup]="locationSearchForm">
            <ng-select
              [items]="locations"
              bindLabel="name"
              formControlName="location"
              (change)="getValues()"
            >
              <ng-template ng-optgroup-tmp let-item="item">
                {{ item || "Unnamed group" }}
              </ng-template>
            </ng-select>
          </form>
        </div>
      </div>
      <div class="card-body">
        <apx-chart
          class="apex-charts"
          dir="ltr"
          [series]="simplePieChart.series"
          [chart]="simplePieChart.chart"
          [labels]="simplePieChart.labels"
          [legend]="simplePieChart.legend"
          [colors]="simplePieChart.colors"
          [responsive]="simplePieChart.responsive"
        >
        </apx-chart>
      </div>
    </div>
  </div>
  <!-- end col -->

  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Paid / Not Paid</h4>
        <span class="badge bg-soft-success text-success"
          >Total User(s) -
          {{
            totalUserCountCitywise === 0
              ? totalRegisteredUsers
              : totalUserCountCitywise
          }}</span
        >
      </div>
      <div class="card-body">
        <apx-chart
          class="apex-charts"
          dir="ltr"
          [series]="donutChart.series"
          [chart]="donutChart.chart"
          [labels]="donutChart.labels"
          [legend]="donutChart.legend"
          [colors]="donutChart.colors"
          [responsive]="donutChart.responsive"
        >
        </apx-chart>
      </div>
    </div>
  </div>
  <!-- end col -->
</div>
<!-- end row-->

<ngx-spinner
  type="ball-clip-rotate"
  [fullScreen]="true"
  size="medium"
  color="#ffffff"
></ngx-spinner>
